<div class="container mt-3" >
  <div class="row">
    <div class="col text-center ">
        <img src="img/ha.jpeg" alt="gambar gunung" class="thumbnali-image rounded-circle" width="200nppx">
        <h1 class="display-4">Addustt</h1>
        <p class="lead">Strongest Man On Earth</p>
    </div>
  </div>
</div>
